pipeline/GetDataFromOnPremSqlServer.json
{
	"name": "GetDataFromOnPremSqlServer",
	"properties": {
		"activities": [
			{
				"name": "GetDataFromSQLServer",
				"description": "GetData From SQLServer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT FolderName FROM dbo.ADF_OutputFolders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_ADF_OUTPUT_FOLDER_TABLE",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetDataFromSQLServer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputFolder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "FolderParam",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@string(activity('GetDataFromSQLServer').output.firstRow.FolderName)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-08T11:54:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}